/*
 *  Node page component
 * --------------------------------------------------*/

// Variables
// -------------------------
@paragraph-gutter-width: 20px;

// Mixins
// -------------------------



// General settings
// -------------------------
.page-modal {
  display: none;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: @zindex-modal;
  padding: 0 40px 30px;
  background-color: white;

  &.modal-visible {
    display: block;
    width: 100%;
    height: 100%;
    border-right: 2px solid @link-color;
    #pxl-mixins.text();
  }

  .page-body {
    padding-top: 120px;

    .field-name-body {
      margin: 0 0 80px;
      #pxl-mixins.text();
    }
  }

  @media @tablet {
    &.modal-visible {
      width: 66.666666%;
    }
    .page-body {
      padding-top: 120px;
    }
  }
  @media @normal {
    &.modal-visible {
      width: 66.666666%;
    }
  }

}

.node.node-page.view-mode-full,
.node.node-page.view-mode-default {
  > .row {
    > div.col-sm-12 {
      position: relative;
      padding-top: 120px;

      .projekt-header {
        position: fixed;
        top: 40px;
        left: 0;
        width:100%;
        z-index: @zindex-modal + 100;


        span.toggle-descr,
        a.close-projekt {
          position: absolute;
          top: 0;
          padding: 0;
          width: 20px;
          max-height: 20px;

          img {
            display: block;
            overflow: hidden;
            margin: 0;
            padding: 0;
            width: 100%;
            height: auto;
          }
        }
        span.toggle-descr {
          left: 15px;
        }
        a.close-projekt {
          right: 15px;
        }

        @media @narrow{
          span.toggle-descr,
          a.close-projekt {
            width: 30px;
            max-height: 30px;
          }
          span.toggle-descr {
            left: 30px;
          }
          a.close-projekt {
            right: 30px;
          }
        }

        @media @tablet {
          span.toggle-descr,
          a.close-projekt {
            width: 40px;
            max-height: 40px;
          }
          span.toggle-descr {
            left: 40px;
          }
          a.close-projekt {
            right: 40px;
          }
        }

      }

      > .field-name-title {
        h2 {
          #pxl-mixins.subtext();
        }
      }

      .paragraphs-items {
        > .field-name-field-paragraphs {
          > .field-items {
            position: relative;
            margin: 0;

            > .field-item {
              display: block;
              margin: 0 auto;

              &.even {
                // image
                padding: 0;
                width: 100%;
                max-width: 1120px;
                vertical-align: top;
              }

              &.odd {
                // text
                text-align: left;
                padding: 20px 0 0;
                width: 160px;
                #pxl-mixins.subtext();

                a {
                  text-decoration: underline;
                }
              }


              @media @tablet {
                &.even {
                  width: 50%;
                }

                &.odd {
                  position: absolute;
                  top: 0;
                  left: 75%;
                  padding: 0 0 0 20px;
                  width: 180px;
                }
              }

              @media @normal {
                &.even {
                  width: 60%;
                }

                &.odd {
                  position: absolute;
                  top: 0;
                  left: 80%;
                  width: 200px;
                }
              }


              // see paragraph-item-... less files
            }
          }
        }
      }

    }
  }
}






