/*
 *  View projekt images component
 * --------------------------------------------------*/

// Variables
// -------------------------
@image-max-height: 700px;
@image-max-width: 1120px;
@image-max-width-mobile: 85vw;


// Mixins
// -------------------------
//
// cursor
.cursor-up, .cursor-down {
  position: absolute;
  z-index: 50;
  top: 0;
  height: 100%;
}
.cursor-up {
  cursor: url(../images/arrow-icon-up-small.png) 16 0, auto;
}
.cursor-down {
  cursor: url(../images/arrow-icon-small.png) 16 42, auto;
}


// carousel controls
.carousel-control(@height: 50%) {
  display: block;
  position: absolute;
  left: 33%;
  right: 33%;
  padding: 0;
  width: 34%;
  height: @height;
  #pxl-mixins.border-radius(0);
  border: none;
  background: none;
  z-index: 2;

  .icon-prev, .icon-next {
    display: none;
  }

  &.top {
    top: 0;
    bottom: auto;
  }

  &.bottom {
    bottom: 0;
    top: auto;
  }
}

//
// Bootstrap carousel
//
.carousel() {
  display: block;
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: auto;
  #pxl-mixins.carousel-fade();

  > .carousel-inner {
    margin-top: 0;

    .item {
      // height is calculated in js

      img, iframe {
        display: block;
        width: auto;
        height: auto;
        max-width: 75%;
        max-height: 100%;
      }
      img {
        #pxl-mixins.center-xy(absolute);
      }
      .embedded-video{
        height: 100%;

        .player {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;

          iframe {
            width: 75%;
            height: 100%;
          }
        }
      }
    }
  }

  > a.carousel-control {
    .carousel-control(35%);
  }
}




// General settings
// -------------------------
.view.view-projekt-images  {
  width: 100%;

  .view-content {
    padding: 0;

    .carousel {
      .carousel();
    }

    .carousel-counter-container {
      position: fixed;
      bottom: 0;
      width: 100%;
      padding: 0;
      font-family: @pxl-text-font;
      letter-spacing: @text-letter-spacing;
      line-height: @text-line-height;
      text-align: @text-text-align;
      font-size: @resp-subtitle-size-min;

      .carousel-image-pos {
        display: inline-block;
        position: absolute;
        #pxl-mixins.center-horizontally();
      }

      .carousel-image-count {
        display: inline-block;
        position: absolute;
        right: 25px;
      }
      .carousel-image-pos,
      .carousel-image-count {
        bottom: 16px;
      }

      @media @tablet {
        .carousel-image-pos,
        .carousel-image-count {
          bottom: 23px;
          font-size: @resp-subtitle-size-med;
        }
      }

      @media @normal {
        .carousel-image-pos,
        .carousel-image-count {
          bottom: 31px;
          font-size: @resp-subtitle-size-max;
        }
      }
    }

  }
}

