/*
 *  Header section (navigation)
 * --------------------------------------------------*/

// Variables
// -------------------------
@header-font-size-min: 25px;
@header-font-size: 40px;

// Mixins
// -------------------------
.navbar-toggle() {
  // navbar toggle with animated burger
  float: none;
  margin: 0;
  padding: 0;
  #pxl-mixins.center-vertically(absolute);
  right: @grid-gutter-width/2;
  border: none;
  #pxl-mixins.border-radius(0);
  background: none;

  .icon-bar {
    display: block;
    height: 3px;
    width: 30px;
    background-color: @pxl-color-black;
    opacity: 1.0;
    .transform-origin(left center);
    #pxl-mixins.transition-transform(0.5s ease);
    #pxl-mixins.transition(opacity 0.3s ease);
    #pxl-mixins.transition(background-color 0.5s ease);

    & + .icon-bar {
      margin-top: 7px;
    }
  }

  &:hover {
    .icon-bar {
      background-color: @pxl-color-main;
    }
  }

  &[aria-expanded="true"] {
    .icon-bar {
      width: 29px;

      &.first {
        .rotate(45deg);
        background-color: @pxl-color-main;
      }
      &.second {
        opacity: 0.0;
      }
      &.third {
        .rotate(-45deg);
        background-color: @pxl-color-main;
      }
    }

    &:hover {
      .icon-bar {
        & + .icon-bar {
          margin-top: 7px;
        }
      }
    }
  }
}
// Main settings
// -------------------------
body.navbar-is-fixed-top {
  padding-top: 110px !important;

  &.admin-menu {
    padding-top: 110px !important;
  }

  &.node-type-projekt, &.page-node-74 {
    padding-top: 0 !important;
    header#navbar {
      display: none;
    }
  }

}

header#navbar {
  border-bottom: none;
  background: rgba(0,0,0,0.0) none;

  .container, .container-fluid {
    position: relative;
    padding: 20px @grid-gutter-width / 2;

    .navbar-header {
      // header (branding)
      a.logo {
        display:block;
        position: absolute;
        left: 40px;
        top: 35px;
        vertical-align: middle;
        float: none;
        margin: 0;

        img {
          display: inline-block;
          vertical-align: middle;
          height: 38px;
          width: auto;
        }
      }

      a.navbar-brand {
        display: none;
        vertical-align: top;
        float: none;
        margin-left: @grid-gutter-width/2;
        padding: 0;
        font-family: @pxl-text-font-medium;
        font-size: @header-font-size-min;
        color: @gray-darker;
        line-height: 1;
        height: auto;

        @media @normal {
          font-size: @header-font-size;
        }
      }

      .navbar-toggle {
        .navbar-toggle();
      }

      .region-navigation {
        display: inline-block;
        vertical-align: middle;
        margin-left: 30px;
        font-size: 13px;
        li{
          display: block;
          &:hover{
            text-decoration: underline;
          }
        }
        #block-locale-language{
          right: 40px;
          top: 32px;
          .active{
            display: none;
          }
          a{
            color: @pxl-color-black;
            font-size: 20px;
          }
        }
      }


      }
    // collapse part
    .navbar-collapse {
      // main menu
      nav {
        margin-left: 0;

        ul.navbar-nav {
          display: block;
          float: none;
          margin: 40px 0;

          li {
            //height: 40px;
            float: none;
            display: block;
            padding: 10px 0;

            a {
              margin-top: 10px;
              padding: 8px 8px 0;
              #pxl-mixins.subtitle();
              color: @link-color;
              border: 2px solid rgba(0,0,0,0.0);

              &:hover,
              &.active {
                  border: 2px solid @link-color;
                  text-decoration: @link-decoration-hover;
                  background-color: #fff;
              }

              @media @normal {
                font-size: @header-font-size;
              }
            }
          }
        }

        @media @tablet {
          ul.navbar-nav {
            display: block;
            text-align: center;
            //justify-content: space-around;
            margin: 0;
            li {
              display: inline-block;
              padding: 0;
            }
          }
        }

      }

    }
  }
}